.root {
  overflow: hidden;
  margin-left: 25px;
  position: relative;
}

.input {
  width: 250px;
	padding: 12px 20px;
  padding-left: 40px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: rgba(0, 0, 0, 0.5);
    // width: 400px;
  }
}

.search {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  opacity: 0.4;
}

.close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  opacity: 0.4;
  cursor: pointer;
  &:hover {
    opacity: 0.8;

  }
}